:root {
  --clr-red: #EA4B5E;
  /* primario */
  --clr-blue: #032132;
  /* secundario */
  --clr-green2: #698459;

  --clr-dark: #191919;
  --clr-dark2: #464646;

  --clr-gray: #dcdcdc;
  /* fuentes, fondos */
  --clr-white: #f4f4f4;

  --transition: all 0.15s ease;

}

/* @font-face {
  font-family: "Lemon/Milk";
  src: url("/Font/LEMONMILK-Light.otf") format("truetype");
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lemon/Milk", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--clr-white);
  color: var(--clr-dark);
}

main {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

i {
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  letter-spacing: 2px;
  padding-left: 2px;
  text-transform: uppercase;
}

p {
  color: var(--clr-dark2);
  font-size: .9rem;
  line-height: 1.4;
}

/* FLEX ROW Y FLEX COLUMN */
.flex-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}


section,
footer {
  padding: 50px 20px;
  gap: 18px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section>*,
footer>* {
  max-width: 900px;
}

a.boton,
.button1 {
  padding: 10px 14px;
  border-radius: 14px;
  font-weight: 700;
  font-size: 14px;
  border: none;
  letter-spacing: 2px;
  padding-left: 16px;
  cursor: pointer;
  transition: var(--transition);
}

.button1 {
  background-color: var(--clr-green);
  color: var(--clr-white);
}

.button1:hover {
  background-color: var(--clr-green2);
}


/*responsive para pantallas de escritorio */
@media (min-width: 768px) {}