---
import Layout1 from "../layouts/Layout1.astro";
import Hero2 from "../sections/Hero2.astro";
---

<Layout1 title="Planeta Hogar">
  <Hero2 title_site="Planeta Hogar" />
  <section id="economia-circular">
    <img src="/img/economia_circular.jpg" alt="economía circular" />
  </section>
  <section>
    <div class="flex-row">
      <div class="flex-column info">
        <h2>¿Qué son los negocios verdes?</h2>
        <p>
          Contemplan las actividades económicas en las que se ofertan bienes o
          servicios, que generan impactos ambientales positivos y además
          incorporan buenas prácticas ambientales, sociales y económicas con
          enfoque de ciclo de vida, contribuyendo a la conservación del ambiente
          como capital.
        </p>

        <a href="https://www.minambiente.gov.co/negocios-verde" target="_blank"
          >Negocios verdes</a
        >
        <a
          href="https://www.sostenibilidad.com/desarrollo-sostenible/en-que-consiste-la-economia-circular/"
          target="_blank">¿En qué consiste la economía circular?</a
        >
        <a
          href="https://www.andi.com.co/Uploads/Estrategia%20Nacional%20de%20EconA%CC%83%C2%B3mia%20Circular-2019%20Final.pdf_637176135049017259.pdf"
          target="_blank">Estrategia Nacional de Economía Circular</a
        >
        <a
          class="boton"
          href="https://wa.me/573136536775?text=Hola%20quiero%20información"
          target="_blank">CONTÁCTENOS</a
        >
      </div>
      <img src="/img/planeta.jpg" alt="banner" />
    </div>
  </section>
</Layout1>

<style>
  #economia-circular {
    background-color: white;
  }

  #economia-circular img {
    width: 100%;
    max-width: 400px;
  }
  /* Estilos para móviles (pantallas pequeñas) - Lo que tienes ahora */
  section > div.flex-row {
    flex-wrap: wrap;
    row-gap: 20px;
  }

  .info {
    text-align: left;
    align-items: flex-start;
    gap: 10px;
  }

  .info a {
    color: var(--clr-dark2);
    text-decoration: underline;
  }

  .info a.boton {
    background-color: var(--clr-dark);
    color: var(--clr-white);
    text-decoration: none;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 12px;
  }

  /* --- Sección de Escritorio (Desktop) --- */
  @media (min-width: 700px) {
    /* Aquí definimos que texto e imagen se repartan el espacio */
    .info,
    img {
      width: 50%; /* Ocupan la mitad cada uno */
      /* Opcional: Para asegurar que se alineen bien en la fila */
      /* Esto asume que .flex-row ya tiene display: flex; */
    }

    /* Puedes refinar la clase .info si necesitas espaciado */
    .info {
      padding-right: 20px; /* Ejemplo para separarlo de la imagen */
    }
  }
</style>
