<section class="flex-column">
  <h1>¡Alargamos la vida útil de los equipos!</h1>
  <a
    class="boton"
    href="https://wa.me/573136536775?text=Hola%20quiero%20información"
    target="_blank">CONTÁCTENOS</a
  >
</section>

<style>
  section {
    text-align: center;
    background-image: url("/img/hero.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.6);
    background-size: cover;
    height: 350px;
  }

  h1 {
    font-size: 1.5rem;
    line-height: normal;
    color: #fff;
    letter-spacing: 7px;
    padding-left: 7px;
  }

  h3 {
    line-height: normal;
  }

  a.boton {
    background-color: var(--clr-white);
    color: var(--clr-dark);
  }

  @media (min-width: 700px) {
    h1 {
      font-size: 2rem;
    }
  }
</style>
