<section>
  <div class="flex-row">
    <img src="/img/banner.jpg" alt="banner" />

    <div class="nosotros">
      <h2>NOSOTROS:</h2>
      <p>
        Fabrica de yogurt 100% natural y artesanal con trozos de fruta, textura
        cremosa y yogurt griego. Libre de químicos, conservantes, preservantes y
        saborizantes artificiales. Todos nuestros envases son retornables ♻️.
      </p>
    </div>
  </div>
</section>

<style>
  p {
    text-align: left;
  }

  img {
    display: none;
  }

  div.flex-row {
    flex-wrap: wrap;
  }

  @media (min-width: 768px) {
    .nosotros {
      width: 30%;
    }

    img {
      display: block;
      width: 300px;
    }

    div.flex-row {
      gap: 40px;
    }
  }
</style>
